.bftn-box {
  background: linear-gradient(106deg,#1f5ad0,#681cb3 36%,#a53b5b 76%);
  width: 35px;
  height: 35px;
  margin-left: 30px;
  margin-top: 10px;
  border-radius: 5px;
}

.charity-body {
  margin-top: 15px;
  background: #DF9C9D;
}
.charity-body p, .link-body p{
  font-size: 25px;
  color: rgba(110,102,224,1) !important;
  padding-left: 10px;
  padding-bottom: 3px;

}

.charity-header {
  height: 12.5%;
  border-radius: 5px 5px 0px 0px;
}

.fred-hutch-img {
	background: url("img/structure/home/fred.svg");
	background-repeat: no-repeat;
  background-size: 35px 35px;
}
.fred-hutch img {
  width: 60px;
  color: rgba(110,102,224,1);
  padding-left: 30px;
}

.charity-card  {
	width: 100%;
	margin: 0;
	padding: 0;
 	display: inline-flex;
}

.charity-card i {
	padding-right: 50px;
	font-size: 35px;
	margin-left: 30px;
	color: rgba(110,102,224,1);
}

.charity-card a {
	margin: 0 auto;
	text-align: right;
	width: 70%;
	color: rgba(110,102,224,1);
	font-size: 25px;
}