#projects {
	border: solid #DFD0C9 1px;
	height: 80%;
	margin-left: 10%;
	position: absolute;
	margin-top: 25px;
	display: black;
}

#about {
	height: 80%;
	margin-left: 10%;
	position: absolute;
	margin-top: 25px;
	display: none;
	overflow: hidden;
	border: solid #DBC5D0 1px;
	padding: 40px;
	background: url('https://ws.imgix.net/photos/t3ef3k_gifton.jpg?w=1000&dpr=2&auto=compress&q=80&cs=tinysrgb&ixlib=js-1.0.6') no-repeat center;
	background-size: 95% 95%;
}

#contact {
	border: solid #DBC5D0 1px;
	min-height: 80%;
	margin-left: 10%;
	position: absolute;
	margin-top: 25px;
	display: none;
}

.scene {
  /* Safari 6.0 - 9.0 */
  bottom:0;
  z-index: 100;
  left:0;
  overflow:hidden;
  right:0;
  height:800px;
  width: 100%;
  display: flex;
  padding-bottom: -10px;
  }
.scene > div {
  position:absolute;
  bottom:0;
}

.scene > div.clouds {
  width:895px;
  left:50%;
  margin-left:-447px;
  height:255px;
  bottom:250px;
  background:url(https://github.com/balajmarius/parallax/blob/master/img/clouds.png?raw=true) no-repeat center;
}