.inspirations-wrapper {
	width: 100%;
	color: darkgrey;
	margin: 0 auto;
	padding-top: 100px;
	display: none;
}

.inspiration-content {
	display: flex;
	margin-top: 100px;
	align-content: middle;
	height: auto;
	padding-bottom: 25px;
}

.inspiration-container {
	background-color: lightblue;
	border-radius: 5px;
	height: 100px;
	display: flex;
	margin: 0 auto;
	align-items: center;
	/*width: 250px;*/
}

.inspiration-container:hover {
	background-color: #6271fc;
}

.inspiration-container img {
	width: 80px;
	margin-left: 10px;
	border-radius: 5px;
}

.inspiration-container a {
	color: black;
	text-decoration: none;
	padding-left: 20px;
}

.inspiration-container a:hover {
	color: white;
	text-decoration: none;
	padding-left: 20px;
}