.inspirations-wrapper {
	min-height: 400px;
	width: 100%;
	color: darkgrey;
	margin: 0 auto;
	padding-top: 100px;
	display: none;
}

.inspiration-content {
	display: flex;

	margin-top: 100px;
	align-content: middle;
}

.inspiration-container {
	background-color: lightblue;
	border-radius: 5px;
	height: 100px;
	display: flex;
	margin: 0 auto;
	align-items: center;
}

.inspiration-container:hover {
	background-color: #6271fc;
}

.inspiration-container img {
	width: 80px;
	border-radius: 5px;
}

.inspiration-container a {
	color: black;
	text-decoration: none;
	padding-left: 20px;
}