
@import url('https://fonts.googleapis.com/css?family=Raleway');


body {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: grayscale;
  position: relative;
  background-color: #E5E4FE;
}

html {
  background-color: #E5E4FE;
}

.header {
	width: 100%;
	height: 100px;
	color: #DF9C9D;
	text-align: center;
  padding-left: 20px;
}

.header img {
	max-height: 150px;
	max-width: 150px;
	height: auto; 
  width: auto; 
	background-size: contain;
	border-radius: 78px;
  border: solid white 10px;
	margin-bottom: 25px;
}

h6 {
	font-weight: 200  !important;
	font-size: 21px !important;
}
h1 {
	color: #d2d2d2 !important;
}

.main-wrapper {
	justify-content: left;
	margin-top: 100px;
	background-color: #E5E4FE;
  
} 

.about-card {
  margin: 15px;
  min-width: 150px;
  -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.post-module {
  position: relative;
  z-index: 1;
  display: block;
  /*background: #FFFFFF;*/
  min-width: 270px;
  height: 470px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.post-module:hover,
.hover {
  -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.post-module:hover .thumbnail img,
.hover .thumbnail img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  opacity: .6;
}
.post-module .thumbnail {
  /*background: #000000;*/
  height: 400px;
  overflow: hidden;
}
.post-module .thumbnail .date {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  background: #e74c3c;
  width: 55px;
  height: 55px;
  padding: 12.5px 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  color: #FFFFFF;
  font-weight: 700;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.post-module .thumbnail .date .day {
  font-size: 18px;
}
.post-module .thumbnail .date .month {
  font-size: 12px;
  text-transform: uppercase;
}
.post-module .thumbnail img {
  display: block;
  width: 120%;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.post-module .post-content {
  position: absolute;
  bottom: 0;
  background: #FFFFFF;
  width: 100%;
  padding: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}
.post-module .post-content .category {
  position: absolute;
  top: -34px;
  left: 0;
  background: #DF9C9D;
  background: linear-gradient(90deg, rgb(223,156,157,1) 0%, rgba(110,102,224,1) 100%);
  padding: 10px 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.category {
  -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.post-module .post-content .title {
  margin: 0;
  padding: 0 0 10px;
  color: #333333;
  font-size: 26px;
  font-weight: 700;
}
.post-module .post-content .sub_title {
  margin: 0;
  padding: 0 0 20px;
  color: #DF9C9D;
  font-size: 20px;
  font-weight: 400;
}
.post-module .post-content .description {
  display: none;
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
}
.post-module .post-content .post-meta {
  margin: 10px 0 0;
  color: #666666;
}
.post-module .post-content .post-meta .timestamp {
  margin: 0 16px 0 0;
}
.post-module .post-content .post-meta a {
  color: #999999;
  text-decoration: none;
}
.hover .post-content .description {
  display: block !important;
  height: auto !important;
  opacity: 1 !important;
}
.container {
  max-width: 800px;
  min-width: 640px;
  margin-top: 100px;
  margin-bottom: 20px;
  background-color: #E5E4FE;
}
.about{
  width: 500px;
  color: #6271fc;
  font-weight: 400 300;
  font-size: 22px;
  margin: 0 auto;
  padding-top: 25px;
}
.about p {
  border-top: solid white 2px;
  margin-top: 30px;
}
.container:before,
.container:after {
  content: '';
  clear: both;
}
.container .column {
  width: 50%;
  /*padding: 0 25px;*/
  /*-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;*/
  float: left;
}

@media screen and (max-width: 600px) {
  .container .column {
    padding: 0 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
  }
  .container {
    width: 100%;
  }
  .column {
    width: 500px !important;=
  }
  .about {
    width: 300px;
  }
  .main-wrapper {
    background-color: none;
    min-width: 600px;
    display: flex;

  }
}

.container .column .card-title {
  /*margin: 0 0 15px;*/
  color: #666666;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.input:focused {
  background-color: red;
}

.info {
  border-left: solid white 1px;
  border-right: solid white 1px;
  text-align: center;
  width: 200px;
  margin: 0 auto;
}
.info a {
  color: #6271fc;
  text-decoration: none;
}
.info i {
  color: red;
}
.container {
  width: 300px;
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}
.container .info span {
  color: #666666;
  font-size: 12px;
  padding-top: 25px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #e74c3c !important ;
}

.contact-body p {
  font-size: 25px;
}
.contact-body {
  font-size: 14px;
  margin-top: 15px;
  text-align: center;
  background: rgba(110,102,224,1);
  /*background: linear-gradient(60deg, rgba(110,102,224,1) 0%, rgb(196,204,231, 0.8) 100%);*/
}

#message-input {
  height: 200px;
  border: solid white 2px;
}

.links {
  width: 90%;
  margin: 0 auto;
  display: inline-grid;
}

ul {
  list-style: none;
  margin-left: -40px;
  display: inline-grid;
  height: 500px;
  max-width: 300px;
}

.link-image {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-left: 10px;
  background-color: lightgray;
  /*border-right: solid black 1px;*/
}
li h2 {
  margin: 0 auto;
}

#linkdin:hover {
  color: white;
  background: linear-gradient(90deg, rgb(0,115,177,1) 0%, rgb(196,204,231, 0.8) 100%);
  background-color: #0073b1;
}
#reading:hover {
  color: white;
  background: linear-gradient(90deg, rgb(255,153,0,1) 0%, rgb(196,204,231, 0.8) 100%);
}
#email-me:hover {
  color: white;
  background: linear-gradient(90deg, rgb(244,81,30,1) 0%, rgb(196,204,231, 0.8) 100%);
  background-color: rgb(244,81,30);
}
#facebook:hover {
  color: white;
  background: linear-gradient(90deg, rgb(59,89,152,1) 0%, rgb(196,204,231, 0.8) 100%);
  background-color: rgb(59,89,152);
}
/*#email:hover {
  background: linear-gradient(90deg, rgb(59,89,152,1) 0%, rgb(196,204,231, 0.8) 100%);
  color: rgb(238,216,255);
}*/
#reddit:hover {
  color: white;
  background: linear-gradient(90deg, rgb(255,2,102,1) 0%, rgb(196,204,231, 0.8) 100%);
  background-color: rgb(255,2,102);
}

.button {
  width: 100%;
  background: rgba(110,102,224,1);
  color: white;
  height: 3.5rem;
  border-radius: 3px;
  text-align: center;
  margin-top: 10px;
  /*opacity: 0.55;*/
}

.button:hover {
  border-radius: 7px;
  background: #DF9C9D;
  background: linear-gradient(90deg, rgba(110,102,224,1) 0%,  rgba(64,191,246,1) 100%);
}
.button a{
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.button a:hover {
  color: white;
  text-decoration: none;
}

.link-body {
  margin-top: 15px;
  background: #DF9C9D;
  background: linear-gradient(90deg, rgb(223,156,157,1) 0%, rgba(110,102,224,1) 100%);
}
.header1 {
  background: #DF9C9D;
  color: white;
  height: 12.5%;
  font-size: 25px;
  display: flex;
}

.header-icon {
  height: 100%;
  padding-left: 25px;
}
.header-icon i {
  font-size: 42px;
}
.header1 h2 {
 margin: 0 auto;
 margin-top: 15px;
}

.link-card {
  height: 90px;
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(196,204,231, 0.45);
  display: flex;
}
.link-card a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 0 auto;
  margin-top: 20px;
  opacity: 1.0;
}

.link-card a:hover {
  color: white;
}

.links-content {
  color: white;
  border-radius: 5px;
}

.link-card i {
  font-size: 36px;
  width: 20%;
  height: 100%;
  margin-left: 25px;
  margin-top: 10px;
  /*color: grey;*/
}

.charity-body {
  margin-top: 15px;
  background-image: url("https://ws.imgix.net/photos/6vynie_gifton.jpg?w=1000&dpr=2&auto=compress&q=80&cs=tinysrgb&ixlib=js-1.0.6");
  background-repeat: no-repeat;
  background-size: 350px 625px;
}

.header2 h1{
  color: #444 !important;
  padding-top: 15px;
  padding-left: 10px;
}

.header2 {
  height: 12.5%;
  border-radius: 5px 5px 0px 0px;
  /*border: solid white 2px;*/
}

.charity-body .link-card {
  color: black;
  background-color: rgb(196,204,231, 0.85)
}
.link-card img {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 5px;
}
.sendEmail {
  background-color: rgb(196,204,231,0.65);
  color: white;
  height: 60px;
  width: 90%;
  margin: 0 auto;
}
.sendEmail a {
  text-decoration: none;
  color: white;
  font-size: 32px;
}
.bftn-box {
  background: linear-gradient(106deg,#1f5ad0,#681cb3 36%,#a53b5b 76%);
  width: 50px;
  height: 50px;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 5px;
}
.contact-form {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 20px;
  background: none;
}
.contact-form:before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  margin-left: -10px;
}

.field-container {
  margin-bottom: 20px;
}
.field-container:last-child {
  margin: 0;
}
.field-container:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  margin-top: -1px;
}

.input {
  width: 100%;
  margin: 0;
  padding: 0 6px;
  border: none;
  border-bottom: solid white 1px;
  outline: none;
  background: transparent;
  color: #444;
  margin-bottom: 30px;
}

.text-area {
  min-height: 38px;
  height: 138px;
  margin: 2px 0 3px;
  border: solid white 1px;
  overflow-y: hidden;
  resize: none;
  -webkit-transition: height .1s;
  -moz-transition: height .1s;
  transition: height .1s;
}

::-webkit-input-placeholder {
  color: white;
}

:-moz-placeholder {
  color: white;
}

:-ms-placeholder {
  color: white;
}
