.pictures-wrapper {
	border: solid white 3px;
	border-radius: 10px;
	background-color: #E5E4FE;
	min-height: 400px;
	width: 100%;
	color: white;
	margin: 0 auto;
	display: none;
}
.back-wrapper {
	margin: 40px;
	font-size: 64px;
}
.back-wrapper i {
	border: solid red 2px;
	font-size: 64px;
}

.back-wrapper button {
	border: none;
	background: none;
}

.back-wrapper button:focused {
	border: none;
	background: none;
}
.photo-main-wrapper {
	background: url('https://lh3.google.com/u/0/d/1x5xzkNoMP2qfy4BiQaG_B6TDzIP9De1Z=w3001-h1762-iv1');
	width: 285px;
	border: solid white 3px;
	border-radius: 5px;
}