.pictures-wrapper {
	border: solid white 3px;
	background-color: #E5E4FE;
	min-height: 400px;
	width: 100%;
	color: white;
	margin: 0 auto;
	display: none;
}
.back-wrapper {
	font-size: 64px;
}
.back-wrapper i {
	font-size: 44px;
}

.back-wrapper button {
	border: none;
	background: none;
}

.back-wrapper button:focused {
	border: none;
	background: none;
}

.photo-container {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 10px;
	background-color: #6271fc;
}
.back-button {
	font-size: 20px;
	color: white;
}