.monologue {
	max-width: 32%;
	float: left;
	z-index: 900;
	color: white;
	padding-left: 20px;
}
.monologue p {
	font-size: 14;
	font-weight: 430;
}


.more-me {
	font-size: 14;
	min-width: 300px;
	height: 300px;
	float: right;
	z-index: 900;
	padding-right: 20px;
}

.more-me h3 {
	color : #333333;
}

ul {
	list-style: none;
	color: #333333;
}

.more-me a {
	color : white;
}

.more-me a:hover {
	color : #FAB696;
	text-decoration: none;
}

.hrdiv {
	width: 100%;
	min-height: 20px;
	margin-left: -25px;
	padding-bottom: 20px
}

.photoMain {
	max-width: 30%;
	float: top;
}
.photoMain img {
	width: 100;

}